{% extends "base.html" %}

{% block content %}
<div class="column is-3 is-offset-4">
  <form method="POST" enctype="multipart/form-data" action="/upload">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% if 'Error' in messages[0] %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% elif 'Success' in messages[0] %}
    <div class="notification is-success">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endif %}
    {% endwith %}
    <input type='file' name='file' accept='image/*' class="button is-block is-warning is-fullwidth" multiple />
    <br>
    <div class="columns is-centered">
      <button type='submit' class="column is-half">Upload Photos</button>
    </div>
  </form>
</div>
<br />
<div class="columns is-multiline">
  {% for file in files %}
  <div class="column is-one-fifth">
    <figure class="image is-256x256">
      <img src="{{ url_for('main.photo', filename=file) }}">
    </figure>
  </div>
  {% endfor %}
</div>
{% endblock %}